on:
  push:
    branches:
      - main
  pull_request:

name: Go
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.15]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:

    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v1

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v -race ./...

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.15

    - name: Install Tools
      env:
        GO111MODULE: off
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go get -u github.com/myitcv/gobin

    - name: Checkout code
      uses: actions/checkout@v1

    - name: staticcheck
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        gobin -run honnef.co/go/tools/cmd/staticcheck@2020.2.3 -checks all ./...
